.service-card {
  height: 550px;
  border: none;
  background-color: rgba(171, 245, 151, 0.657);
  box-shadow: 5px 5px 10px grey;
}
.card-container :hover {
  transform: scale(1.05);
  transition: all 1s ease-out;
}

.btn {
  position: absolute;
  bottom: 0px;
}
