.footer {
  background-color: #6cbda4;
}
.footer h5 {
  color: black;
  font-weight: bolder;
}

.footer-about p {
  width: 300px;
  font-size: small;
}
.contact p img {
  margin-right: 10px;
}
.link {
  text-decoration: none;
  display: block;
  color: blue;
}
